In [302]:
import pandas as pd
import re
import string
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from io import StringIO
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [303]:
yelp = pd.read_csv("yelp_labelled.txt", sep='\t', names=['sentences','class'])
amazon = pd.read_csv("amazon_cells_labelled.txt", sep='\t', names=['sentences','class'])
imdb = pd.read_csv("imdb_labelled.txt", sep='\t', names=['sentences','class'])

data = [imdb,amazon,yelp]
data = pd.concat(data)
data = pd.DataFrame(data)
data

                                             sentences  class
0    A very, very, very slow-moving, aimless movie ...      0
1    Not sure who was more lost - the flat characte...      0
2    Attempting artiness with black & white and cle...      0
3         Very little music or anything to speak of.        0
4    The best scene in the movie was when Gerardo i...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[2748 rows x 2 columns]

In [304]:
#Case Folding and Removing 

#lower case
data['sentences'] = data['sentences'].str.lower()

def casef(datasen) :
    #remove mention link and hastag
    datasen = " ".join(re.sub("([@#][A-Za-z0-9])|(\w+\/\/\S+)"," ", datasen).split())
    #remove number
    datasen = re.sub(r"\d+", "", datasen)
    #remove punctuation
    datasen = datasen.translate(str.maketrans("","",string.punctuation))
    #remove whitespace
    datasen = datasen.strip()
    #remove multiple whitespace
    datasen = re.sub("\s+"," ",datasen)
    return datasen

data['casefold_res'] = data['sentences'].apply(casef)
casefold_result = data['casefold_res']
casefold_result

0      a very very very slowmoving aimless movie abou...
1      not sure who was more lost the flat characters...
2      attempting artiness with black white and cleve...
3              very little music or anything to speak of
4      the best scene in the movie was when gerardo i...
                             ...
995    i think food should have flavor and texture an...
996                              appetite instantly gone
997    overall i was not impressed and would not go back
998    the whole experience was underwhelming and i t...
999    then as if i hadnt wasted enough of my life th...
Name: casefold_res, Length: 2748, dtype: object

In [305]:
#Tokenizing

tokens = word_tokenize(str(data['casefold_res']))

In [306]:
#Filtering (Stopword Removal)

listStopword = set(stopwords.words('english'))
clean_sentence = []

for t in tokens :
    if t not in listStopword :
        clean_sentence.append(t)
print('Result \n', clean_sentence)

Result
 ['0', 'slowmoving', 'aimless', 'movie', 'abou', '...', '1', 'sure', 'lost', 'flat', 'characters', '...', '2', 'attempting', 'artiness', 'black', 'white', 'cleve', '...', '3', 'little', 'music', 'anything', 'speak', '4', 'best', 'scene', 'movie', 'gerardo', '...', '...', '995', 'think', 'food', 'flavor', 'texture', '...', '996', 'appetite', 'instantly', 'gone', '997', 'overall', 'impressed', 'would', 'go', 'back', '998', 'whole', 'experience', 'underwhelming', '...', '999', 'hadnt', 'wasted', 'enough', 'life', 'th', '...', 'Name', ':', 'casefold_res', ',', 'Length', ':', '2748', ',', 'dtype', ':', 'object']

In [307]:
data

,sentences,class,casefold_res
0,"a very, very, very slow-moving, aimless movie ...",0,a very very very slowmoving aimless movie abou...
1,not sure who was more lost - the flat characte...,0,not sure who was more lost the flat characters...
2,attempting artiness with black & white and cle...,0,attempting artiness with black white and cleve...
3,very little music or anything to speak of.,0,very little music or anything to speak of
4,the best scene in the movie was when gerardo i...,1,the best scene in the movie was when gerardo i...
...,...,...,...
995,i think food should have flavor and texture an...,0,i think food should have flavor and texture an...
996,appetite instantly gone.,0,appetite instantly gone
997,overall i was not impressed and would not go b...,0,overall i was not impressed and would not go back
998,"the whole experience was underwhelming, and i ...",0,the whole experience was underwhelming and i t...
999,"then, as if i hadn't wasted enough of my life ...",0,then as if i hadnt wasted enough of my life th...

In [308]:
feature = ['casefold_res','class']
feature = data[feature]
feature

                                          casefold_res  class
0    a very very very slowmoving aimless movie abou...      0
1    not sure who was more lost the flat characters...      0
2    attempting artiness with black white and cleve...      0
3            very little music or anything to speak of      0
4    the best scene in the movie was when gerardo i...      1
..                                                 ...    ...
995  i think food should have flavor and texture an...      0
996                            appetite instantly gone      0
997  overall i was not impressed and would not go back      0
998  the whole experience was underwhelming and i t...      0
999  then as if i hadnt wasted enough of my life th...      0

[2748 rows x 2 columns]